In [1]:
import numpy as np
import pandas as pd

In [2]:
kins = ['0']
targets = ['He3','H3','D2','H1']

In [77]:
z_cuts_upstream   = ['-.08', '-.08', '-.08', '-.08', '-.08', '-.09', '-.09', '-.095','-.095','-.1',  '-.1',  '-.105']
z_cuts_downstream = ['.1',  '.1',  '.1',  '.1',  '.1',  '.1',  '.1',  '.1',  '.1',  '.105', '.105', '.11']
acc_loose = "dp>-0.04 & dp<0.04 & Theta>-0.06 & Theta<0.06 & Phi>-0.03 & Phi<0.03"
acc_elliptical = "dp>-0.04 & dp<0.04 & (((Phi/0.033)**2) + (((Theta-0.0025)/0.0675)**2))<1.0"

In [4]:
acc = acc_loose

In [13]:
raw_location = "../../../../data/pass2_raw/"

In [6]:
bcm_gain   = 0.00033518
bcm_offset = 0.0217
clock_rate = 103700.0

In [7]:
meta_data = pd.DataFrame(columns=['T2','T2s','lt','avgI','Q'])

Really I'm just testing stuff right now to see why my main script doesn't output what I think it should. I'm ignoring the loops for now and just using the first item in each list to see what happens

In [8]:
f = open("../../../HallA-Online-Tritium/batch_farm/"+targets[0]+"_kin"+kins[0]+".dat","r")

In [10]:
data = f.read().splitlines()

In [11]:
data

['2525',
 '2526',
 '2527',
 '2528',
 '2529',
 '2530',
 '2531',
 '2533',
 '2534',
 '2535',
 '2536',
 '2537',
 '2538',
 '2539',
 '2540',
 '2542',
 '2543',
 '2546',
 '2547',
 '2548',
 '2549',
 '2550',
 '2551',
 '2552',
 '2553',
 '2554']

In [45]:
run_events = pd.read_csv(raw_location+data[0]+".csv")
run_events = run_events.replace([np.inf, -np.inf, np.nan, -np.nan], 0)
#run_events = run_events.fillna(0)

In [46]:
run_events.head()

,Cherenkov,Preshower,Shower,Momentum,nTracks,Phi,Theta,dp,Z,x,Q2,W2,x no EL,Q2 no EL,W2 no EL,dnew,dnew_rate,clock,T2,T2scalar
0,68.6802,159.172,447.743,3.05536,1,-0.002532,-0.026722,-0.014408,0.132256,0.000000,0.00000,0.0000,0.194174,2.74552,12.2479,805987.0,0.0,0.0,0,0
1,38.9533,138.710,1455.890,3.09013,1,-0.001396,-0.043285,-0.003193,-0.116771,0.201939,2.84345,12.0913,0.201848,2.84258,12.0942,806032.0,0.0,0.0,0,0
2,5384.8800,1775.130,1315.250,3.01002,1,0.019121,0.047260,-0.029035,-0.011569,0.222152,3.15995,11.9181,0.222054,3.15901,11.9211,806061.0,0.0,0.0,1,0
3,15.2741,809.482,364.165,3.06823,1,-0.019615,0.026340,-0.010257,0.131656,0.000000,0.00000,0.0000,0.172783,2.44002,12.5358,806086.0,0.0,0.0,0,0
4,52.6714,127.665,1036.650,3.07611,1,-0.014451,-0.032785,-0.007716,-0.044122,0.181602,2.56119,12.3961,0.181517,2.56039,12.3991,806185.0,0.0,0.0,0,0

In [78]:
cut = 'nTracks==1 & W2>3.0 & ((Preshower + Shower)/Momentum)>0.7 & '+ acc
cut  = cut + ' & Z>' + z_cuts_upstream[0] + ' & Z<' + z_cuts_downstream[0] + ' & '
cut = cut + ' Cherenkov>1500'

In [79]:
cut

'nTracks==1 & W2>3.0 & ((Preshower + Shower)/Momentum)>0.7 & dp>-0.04 & dp<0.04 & Theta>-0.06 & Theta<0.06 & Phi>-0.03 & Phi<0.03 & Z>-.08 & Z<.1 &  Cherenkov>1500'

In [80]:
cleaned = run_events.query(cut)

In [81]:
cleaned.head()

,Cherenkov,Preshower,Shower,Momentum,nTracks,Phi,Theta,dp,Z,x,Q2,W2,x no EL,Q2 no EL,W2 no EL,dnew,dnew_rate,clock,T2,T2scalar
2,5384.88,1775.1300,1315.2500,3.01002,1,0.019121,0.047260,-0.029035,-0.011569,0.222152,3.15995,11.9181,0.222054,3.15901,11.9211,806061.0,0.0,0.0,1,0
32,43143.00,58.8229,77.9567,3.16851,1,-0.023662,0.008394,0.022090,-0.013577,0.174670,2.43275,12.3492,0.174587,2.43199,12.3522,808259.0,691.0,0.0,1,2
122,5292.92,1851.6900,1318.7700,3.14407,1,-0.011482,0.006435,0.014207,0.076603,0.188404,2.63291,12.1961,0.188317,2.63212,12.1991,813404.0,4438.0,63133.2,1,13
172,4628.59,1751.7900,1257.9300,3.16786,1,-0.005537,0.029940,0.021882,-0.015867,0.200447,2.79193,11.9909,0.200356,2.79110,11.9939,816600.0,5825.0,63155.6,1,17
181,4035.71,1835.7100,1287.3500,2.98747,1,-0.017399,0.044707,-0.036310,-0.039503,0.172441,2.45999,12.6594,0.172359,2.45919,12.6624,817484.0,6826.0,63064.2,1,19

In [84]:
run = data[0]
run

'2525'

In [87]:
meta_data.at[run,'T2'] = run_events.T2.sum()
meta_data.head()

          T2  T2s   lt avgI    Q
2525  158835  NaN  NaN  NaN  NaN

In [88]:
meta_data.at[run,'T2s'] = run_events.T2scalar.iloc[-1]
meta_data.head()

          T2     T2s   lt avgI    Q
2525  158835  168254  NaN  NaN  NaN

In [89]:
meta_data.at[run,'lt']   = meta_data.at[run,'T2']/meta_data.at[run,'T2s']
meta_data.head()

          T2     T2s        lt avgI    Q
2525  158835  168254  0.944019  NaN  NaN

In [100]:
meta_data.at[run,'Q']    = (run_events.dnew_rate.iloc[-1]*bcm_gain) + (run_events.dnew.iloc[-1]*bcm_offset/clock_rate)
meta_data.head()

          T2     T2s        lt avgI        Q
2525  158835  168254  0.944019  NaN  14072.5

In [103]:
run_events.query('dnew_rate>0.0').dnew_rate.sum()*bcm_gain/run_events.query('dnew_rate>0.0').shape[0]

7027.486063056072

1396.20621